.lesson-four-task-one:hover{
    color:red;
    background-color: yellow;
}
.lesson-four-task-two> .link:hover+h1{
    background-color: green;
}
#lesson-four-task-three>a:visited{
    color:yellow;
} 
.lesson-four-task-four #sidebar>.link:link{
    color:red ;
} 
.lesson-four-task-five>button.btn:active{
    background-color: blue;
}  
.lesson-four-task-six>button.btn:focus{
    background-color:orange;
    color:orange;
    
}  
.lesson-four-task-seven>#target:target{
    background-color:green;
    color:white;
    
}  
.lesson-four-task-eight>#checkbox:checked{
    background-color:blue;
    color:white;
    
}  
.lesson-four-task-nine>p:lang(uk){
    color:blue;
}  
.lesson-four-task-ten  input:enabled {
    background-color:yellow;
    color:red;
    
}

.lesson-four-task-eleven>input:disabled {
    background-color:yellow;
    
}
.lesson-four-task-twelve>input:read-write {
    background-color:yellow;
    
}

.lesson-four-task-thirteen>input[readonly]:read-only {
    background-color:yellow;
    
}

.lesson-four-task-fourteen>input:valid {
    background-color:green;
    
}
.lesson-four-task-fourteen>input:invalid {
    background-color:red;
    
}

.lesson-four-task-fifteen textarea:optional {
    background-color:red;
    
}
.lesson-four-task-sixteen input:out-of-range {
    color:red;
}
    

.lesson-four-task-seventeen input:in-range{
    color:red;
    
}
.lesson-four-task-eighteen>input:placeholder-shown {
    background-color:red;
    
}
.lesson-four-task-nineteen button:focus-within {
    background-color:yellow;
    color:white;
    
}
.lesson-four-task-twenty  input[required]:invalid{
    background-color:red;
    
    
}


